.adSection {
    display: flex;
    flex-direction: row;
    width: 85vw;
    justify-content: space-between;
}

.adLeft {
    border: 1px solid black;
    width: 40%;
    height: 200px;
    margin-top: 1em;
    padding: 1em;
    background-color: lightblue;
}

.adRight {
    border: 1px solid black;
    width: 40%;
    height: 200px;
    margin-top: 1em;
    padding: 1em;
    background-color: lightblue;
}

.slide {
  height: 100%;
  width: 100%;
  
}
