.adSection {
    display: flex;
    flex-direction: row;
    width: 85vw;
    justify-content: space-between;
}

.adLeft {
    border: 1px solid black;
    width: 40vw;
    height: 200px;
    margin-top: 1em;
}

.adRight {
    border: 1px solid black;
    width: 40%;
    height: 200px;
    margin-top: 1em;
}

.slide {
  border: 1px solid #fff;
  height: 100%;
  width: 100%;
  
}